/* resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins", sans-serif;
}

nav, .bg-learnify, .hover-learnify:hover{
    background: rgb(52,173,218);
    background: linear-gradient(90deg, rgba(52,173,218,1) 0%, rgba(30,136,198,1) 30%, rgba(14,68,114,1) 100%);
}

.welcome-banner{
    background: url('/images/welcome-banner.png');
    background-size: cover;
}

.welcome-two{
    background: rgb(52,173,218);
    background: linear-gradient(270deg, rgba(52,173,218,1) 0%, rgba(30,136,198,1) 30%, rgba(14,68,114,1) 100%);
}

.welcome-paragraph{
    line-height: 2;
}

.bg-img-learnify, .login, .register{
    background: url('/images/bg-learnify.png');
    background-size: cover;
    background-position: center;
}

#login-body nav, #register-body nav{
    justify-content: end;
    background: url('/images/bg-learnify.png');
    background-size: cover;
}

#login-body nav .navbar-home, #register-body nav .navbar-home{
    display: none;
}

.form-container::-webkit-scrollbar {
    width: 8px;
}

.form-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.form-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.scroll-container::-webkit-scrollbar {
    height: 0.5rem;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 0.5rem;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
